@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');

* {font-family: 'Work Sans', sans-serif;}

a {text-decoration: none !important;}

button {
	padding: 10px;
	margin-right: 5%;
	border: 2px solid #FFD86B;
	background-color: transparent;
	color: #FFD86B;
	border-radius: 5px;
	font-weight: 600;
}

button:hover {
	background-color: #FFD86B;
	color: white;
	transition: color 1s, background-color 1s;
}